<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" th:href="@{|${contextPath}/../style.css|}"/>
    <title>search</title>
  </head>
  <body>
    <nav id="main_container" class="navbar navbar-dark bg-primary">
      <div class="container-fluid">
        <a href="/home" class="navbar-brand">Weather</a>
        <form th:action="@{/search}" class="d-flex" method="get">
          <input name="q"
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button type="submit" class="btn btn-light">Search</button>
        </form>
        <div id="right">
          <button
            id="user_name"
            type="button"
            class="btn btn-primary"
            th:text="${login}"
          >
            user@mail.com
          </button>
          <form method="post" th:action="@{/sign-out}">
            <input type="submit" class="btn btn-light" value="Sign out" />
            <input type="hidden" name="signOut" value="-1" />
          </form>
        </div>
      </div>
    </nav>
    <div class="errorContainer">
      <p class="errors" th:if="${locationPercentError}" th:text="${locationPercentError}">Error location</p>
    </div>
    <div class="all_cards">
      <div class="card" style="width: 18rem" th:each="location,id : ${locations}">
        <div class="card-body">
          <h5 class="card-title" th:text="${location.getName()}">City_name</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" th:text="'Country: ' + ${location.getCountry()}">Country</li>
          <li class="list-group-item" th:text="'Longitude: ' + ${location.getLongitude()}">longitude</li>
          <li class="list-group-item" th:text="'Latitude: ' + ${location.getLatitude()}">latitude</li>
        </ul>
        <div class="card-body">
          <form method="post" th:action="@{/search}">
            <input type="hidden" name="longitude" value="0" th:value="${location.getLongitude()}">
            <input type="hidden" name="latitude" value="1" th:value="${location.getLatitude()}">
            <button type="submit" class="btn btn-primary">Add</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
